* {
  box-sizing: border-box;
}

body {
  background: #48A9A6;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

/* Float Fix */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input {
  outline: none;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.29);
  font-size: 1.5rem;
}

