* {
  box-sizing: border-box;
}

body {
  background: #E9E9E9;
  font-family: 'Open Sans', sans-serif;
  color: #545454;
}

/* Float Fix */
.grid:after {
  content: "";
  display: table;
  clear: both;
}

form {
  width: 800px;
  margin: 100px auto;
  border-top: 1px solid #FF9D06;
}

.wrapper {
  background: #F9F9F9;
}

h2 {
  padding-bottom: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
}

.billing, .shipping {
  float: left;
  width: 50%;
  padding: 17px;
}

.billing {
  border-right: 1px solid #CBC6C1;
}

.control {
  padding-bottom: 13px;
}

.control:last-child {
  padding-bottom: 0;
}

.billing label:not(.check-label):before {
  content: '*';
  color: #FF9D06;
}

label:not(.check-label), input[type="text"] {
  display: block;
}

label {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: .3em;
}

input[type="text"], .pseudo-check {
  border: 1px solid #CBC6C1;
}

input[type="text"], .pseudo-check, button {
  border-radius: 2px;
}

input[type="text"], button {
  font-family: 'Open Sans', sans-serif;
}

input[type="text"] {
  font-size: 1.2rem;
  padding: .3em;
  width: 100%;
  font-weight: 300;
}

input[type="text"]:focus {
  outline: none;
  border-color: rgba(255, 157, 6, 0.54);
}

.check-label {
  display: inline-block;
  padding-left: 9px;
  font-size: .7rem;
  cursor: pointer;
}

/**
  * Hide only visually, but have it available for screen readers:
  * html5 boilerplate 
  * h5bp.com/v
  */
.check-label input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

.pseudo-label {
  padding-left: .2em;
}

.pseudo-check {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #FFF;
}

.pseudo-check:after {
  position: absolute;
  content: '';
  display: none;
  width: 2px;
  height: 7px;
  top: 0;
  left: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid #FF9D06;
  border-width: 0 2px 2px 0;
}

.check-label input:checked + .pseudo-check:after {
  display: block;
}

.button-wrap {
  text-align: right;
  padding-top: 10px;
}

button {
  display: inline-block;
  background: #FF9D06;
  border: 0;
  color: #FFF;
  font-size: .9rem;
  text-transform: uppercase;
  padding: .6em 1.1em;
  cursor: pointer;
}

button i {
  padding-left: .4em;
}
