body {
  background: url('../images/blurred-city.jpg') no-repeat;
  background-size: cover;
  color: #FFF;
}

form {
  width: 30%;
  background: rgba(27, 54, 77, 0.63);
  color: #FFF;
}

ul {
	display: table;
	width: 100%;
}

li {
	display: table-cell;
}

li:first-child {
	text-align: left;
}

li + li {
	text-align: right;
}